// 
// Header
// -----------------------------------------

header {
  padding: 25px 0;
  
  .logo {
    background: url('../../img/logo.svg') 0 0 no-repeat;
    width: 166px;
    height: 60px;
    display: block;
    margin: 0 auto;
    
    @media (min-width: $screen-sm) {
      display: inline-block;
      margin: 0;
      border-right: 2px solid $white;
    }
  }

  .menu {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    
    @media (min-width: $screen-sm) {
      text-align: right;
    }

    li {
      display: inline-block;
      
      a {
        padding: 9px;
        color: $slate-gray;
        transition: all .2s ease-in-out;
        
        @media (min-width: $screen-sm) {
          padding: 10px 15px;
        }


        &:hover {
          background-color: transparent;
          color: $brand-primary;
        }
      }

      &:first-child {
        a {
          @media (max-width: $screen-sm) {
            padding-left: 0;
          }
        }
      }

      &:last-child {
        a {
          @media (max-width: $screen-sm) {
            padding-right: 0;
          }
        }
      }
    }
  }
}
