// 
// Form
// -----------------------------------------


.form-group {
  input {
    &.form-control {
       box-shadow: 0 0 0;
    }

    &[type="checkbox"],
    &[type="radio"] {
      &:focus {
        + label {
          &::before {
            outline: none;
          }
        }
      }
    }

    &[type="radio"] {
      + label {
        &::before {
          border-color: $gallery;
          background-color: $gallery;
        }

        &::after {
          width: 17px;
          height: 17px;
          top: 0;
          left: 0;
          background-color: $brand-primary;
        }
      }
    }

    &[type="checkbox"] {
      + label {
        &::after {
          color: $brand-primary;
        }
      }
    }
    &[type="date"] {
      padding: 6px;
            
      &::-webkit-datetime-edit-text { padding: 0; }
      &::-webkit-inner-spin-button { display: none; }
      &::-webkit-calendar-picker-indicator { display: block; font-size: 85%; }
    }
  }
}


.radio-inline {
  @extend .radio;
}

