// 
// Form
// -----------------------------------------


.form-group {
  input {
    &.form-control {
       box-shadow: 0 0 0;
    }

    &[type="checkbox"],
    &[type="radio"] {
      &:focus {
        + label {
          &::before {
            outline: none;
          }
        }
      }
    }

    &[type="radio"] {
      + label {
        &::before {
          border-color: $gallery;
          background-color: $gallery;
        }

        &::after {
          width: 17px;
          height: 17px;
          top: 0;
          left: 0;
          background-color: $brand-primary;
        }
      }
    }

    &[type="checkbox"] {
      + label {
        &::after {
          color: $brand-primary;
        }
      }
    }
  }
}


.radio-inline {
  @extend .radio;
}

