// 
// Typography
// -----------------------------------------

// Font smoothing hack
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  &.title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    
    @media (min-width: $screen-sm) {
      margin-top: 20px;
    }
  }

  small {
    font-size: 90%;
  }
}

// Text colours
.text-white { 
  color: $white;
}

.text-primary {
  color: $brand-primary;
}

.text-secondary {
  color: $slate-gray;
}

// Text styles
.lead { 
  font-size: 18px;
}

.text-light {
  font-weight: 300;
}

.text-medium {
  font-weight: 400;
}

.text-semibold {
  font-weight: 700;
}

.text-bold {
  font-weight: 900;
}

// Horizontal rule
hr {
  &.primary {
    border-top-width: 3px;
    border-top-color: $brand-primary;
  }
  
  &.short {
    width: 80px;
    margin: 30px auto;
  }
}
