//-
//-Colors
//------------------------------------------


$black: #000000;
$gallery: #eee;
$silver: #ccc;
$white: #FFFFFF;
$concrete: #f2f2f2;


$base-color: $black;


$bondi-blue:  #0097bc;
$picton-blue: #3db9d1;
$slate-gray:  #617b89;
$gray:        #7e7e7e;
