// 
// Utilities
// -----------------------------------------

// Container widths
.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


// Fluid container
.container-fluid {
  @include container-fixed;
}





// Flexbod helpers
.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.flex-col-reverse { flex-direction: column-reverse;}
}

.flex-row {
  display: flex;
  flex-direction: row;

  &.flex-row-reverse { flex-direction: row-reverse;}
}

.flex-stretch { align-self: stretch;}

.flex-grow { flex-grow: 1;}

.flex-justify { justify-content: space-between;}

.flex-align-center { align-items: center; }

.flex-align-stretch { align-items: stretch; }


.no-margin { margin: 0!important; }
.no-margin-top { margin-top: 0!important; }
.no-margin-bottom { margin-bottom: 0!important; }
