// 
// Utilities
// -----------------------------------------

// Flexbod helpers
.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.flex-col-reverse { flex-direction: column-reverse;}
}

.flex-row {
  display: flex;
  flex-direction: row;

  &.flex-row-reverse { flex-direction: row-reverse;}
}

.flex-stretch { align-self: stretch;}

.flex-grow { flex-grow: 1;}

.flex-justify { justify-content: space-between;}

.flex-align-center { align-items: center; }

.flex-align-stretch { align-items: stretch; }


.no-margin { margin: 0; }
